$mobile: 450px;
$tab-pro: 1024px;
$tab: 768px;
@mixin mobile {
    @media screen and (max-width: #{$mobile}) {
        @content;
    }
}

@mixin tab {
    @media screen and (max-width: #{$tab}) {
        @content;
    }
}

@mixin tab-pro {
    @media screen and (max-width: #{$tab-pro}) {
        @content;
    }
}

// Container1

@include mobile() {
    .wr-con1-col1 .container {
        margin: 0 !important;
    }
    .wr-con1-col1 .container h2 {
        font-size: 50px !important;
        margin: 40px 0 !important;
    }
    .wr-con1-col2{
        margin: 20px 0px !important;
    }
}

// @include tab() {
//     .wr-con1-col1 .container {
//         margin: 0 !important;
//     }
//     .wr-con1-col1 .container h2 {
//         margin: 40px 0 !important;
//     }
// }

// @include tab-pro(){
//     .wr-con1-col1 .container{
//         margin: 104px 0px !important;
//     }
// }