@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #fff;
}

body h1, body h2, body h3, body h4, body h5, body h6 {
  font-weight: 700;
}

body .wr-sec2, body .wr-sec3 {
  padding: 50px 15px;
}

.wr-nav {
  background-color: #335CFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.wr-nav .navbar-brand {
  font-weight: 700;
  color: #FFDE03;
}

.wr-grad-bg {
  background-image: linear-gradient(141.13deg, rgba(92, 125, 255, 0.5) 0%, #2E58FF 76.56%);
}

.wr-sec1 {
  margin-top: 56px;
  background-image: url("../../imgs/landing/landing_Bg_1.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #0336FF;
}

.wr-sec1 .wr-con1-sec1 {
  padding: 190px;
}

.wr-sec1 .wr-con1-sec1 .wr-sec1-col1, .wr-sec1 .wr-con1-sec1 .wr-sec1-col2, .wr-sec1 .wr-con1-sec1 .wr-sec1-col2 {
  color: #fff;
}

.wr-sec1 .wr-con1-sec1 .wr-sec1-col1 span, .wr-sec1 .wr-con1-sec1 .wr-sec1-col2 span, .wr-sec1 .wr-con1-sec1 .wr-sec1-col2 span {
  color: #FFDE03;
}

.wr-sec1 .wr-con1-sec1 .wr-sec1-col2 p {
  width: 666px;
  margin: auto;
  height: auto;
}

.wr-sec1 .wr-con1-sec1 .wr-sec1-col3 .wr-outline-btn {
  margin-top: 20px;
  border: 2px solid #FFDE03;
  background-color: none;
  color: #FFDE03;
  border-radius: 8px;
  padding: 6px 20px;
  font-weight: 600;
}

.wr-sec1 .wr-con1-sec1 .wr-sec1-col3 .wr-outline-btn:hover {
  background-color: #FFDE03;
  color: #000;
}

@media screen and (max-width: 450px) {
  .wr-sec1 .wr-con1-sec1 {
    padding: 0 !important;
  }
}

@media screen and (max-width: 768px) {
  .wr-sec1 .wr-con1-sec1 {
    padding: 40px !important;
  }
  .wr-sec1 .wr-sec1-col2 p {
    width: auto !important;
  }
}

@media screen and (max-width: 1024px) {
  .wr-sec1 .wr-sec1-col2 p {
    width: auto !important;
  }
}

.wr-sec2 .wr-sec2-col1 .abt-img {
  margin-top: 100px;
  margin-bottom: 100px;
}

.wr-sec2 .wr-sec2-col2-con h2 {
  color: #FFDE03;
}

.wr-sec2 .wr-sec2-col2-con .wr-att {
  color: #FFDE03;
}

.wr-sec2 .wr-sec2-col2-con .wr-sm-circle {
  content: "";
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #FFDE03;
  border-radius: 50%;
  box-shadow: 0px 0px 10px #FFFFFF;
  margin-bottom: -5px;
  margin-right: 10px;
}

@media screen and (max-width: 450px) {
  .wr-sec2 .wr-sec2-col1 .abt-img {
    margin-bottom: 70px !important;
    margin-top: 70px !important;
  }
}

.wr-sec3 .wr-form {
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 450px;
  color: #000;
  height: auto;
  padding: 30px;
}

.wr-sec3 .wr-form h2 {
  color: #0336FF;
}

.wr-sec3 .wr-form .wr-btn-secondary {
  background-color: #FFDE03;
  padding: 6px 20px;
  color: #000;
  border-radius: 8px;
}

.wr-sec3 .wr-form .wr-btn-secondary img {
  margin-left: 10px;
  margin-bottom: 4px;
}

@media screen and (max-width: 450px) {
  .wr-sec3 .wr-form {
    width: 350px !important;
  }
}

@media screen and (max-width: 768px) {
  .wr-sec3 .wr-form {
    width: 300px !important;
  }
}

.wr-footer .wr-foot-col1 a {
  color: #fff;
}

.wr-footer .wr-foot-col1 h4 {
  color: #FFDE03;
}

.wr-footer .wr-foot-col3 a {
  color: #FFDE03;
}

.wr-footer hr {
  border-top: 2px solid #FFDE03;
  width: 90%;
}

#loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  background-image: linear-gradient(to bottom, #ffffff, #FFDE03);
  z-index: 9999;
  text-align: center;
}

.lds-roller {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 99999;
}

.privacy-container {
  background-image: linear-gradient(146.5deg, rgba(255, 236, 107, 0.5) 0%, #FFE74B 81.77%);
  color: #121212;
  margin-top: 56px;
  padding: 40px 20px;
}

.privacy-container .jumbotron {
  background-image: linear-gradient(141.13deg, rgba(92, 125, 255, 0.5) 0%, #2E58FF 76.56%);
  color: #fff;
}

.privacy-container h1, .privacy-container h2, .privacy-container p {
  padding: 0px 15px;
}

.privacy-container ul {
  list-style: disc;
  padding: 0px 50px;
}

.privacy-container .wr-footer a {
  color: #335CFF;
}

.privacy-container .wr-footer h4 {
  color: #000;
}

.privacy-container .wr-footer hr {
  border-top: 2px solid #335CFF;
}
