@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #fff;
}

body h1, body h2, body h3, body h4, body h5, body h6 {
  font-weight: 700;
}

.wr-nav {
  background-color: #335CFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.wr-nav .navbar-brand {
  font-weight: 700;
  color: #FFDE03;
}

.wr-grad-bg {
  background-image: linear-gradient(146.5deg, rgba(255, 236, 107, 0.5) 0%, #FFE74B 81.77%);
}

.wr-sec1 {
  background-image: url("../../imgs/rights/Hero-notxt.webp");
  background-repeat: no-repeat;
  background-size: cover;
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin-top: 56px;
}

.wr-sec1 .wr-sec1-col1-con {
  margin: 0 0px 0 0;
  padding: 210px 15px;
  margin-left: 54px;
  width: 460px;
}

.wr-sec1 .wr-sec1-col1-con .wr-top-attr {
  color: #000;
  font-weight: 500;
}

.wr-sec1 .wr-sec1-col1-con .wr-top-h1 {
  color: #000;
}

.wrcards-collection .card-columns {
  padding: 60px 30px;
  width: min-content;
}

.wrcards-collection .card-columns .card {
  margin: 2rem 1rem;
}

.wrcards-collection .card-columns .wr-card {
  width: 350px;
  border-radius: 12px;
  box-shadow: none;
}

.wrcards-collection .card-columns .wr-card img {
  width: 200px;
  padding-top: 1.25rem;
}

.wrcards-collection .card-columns .wr-card hr {
  width: 90%;
  margin-bottom: 0;
  border-top: 2px solid #335CFF;
}

.wrcards-collection .card-columns .wr-card .wr-btn {
  background-color: #335CFF;
  color: #fff;
}

.wrcards-collection .card-columns .wr-card:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;
}

.wrcards-collection .wr-modal .modal-content {
  background-image: linear-gradient(303.72deg, #335CFF 31.25%, rgba(92, 125, 255, 0.5) 100%);
  border-radius: 20px;
}

.wrcards-collection .wr-modal .modal-content .modal-footer {
  border-top: 0px !important;
}

.wrcards-collection .wr-modal .modal-content .modal-footer .share {
  margin: 1rem 1.2rem 1rem auto;
  background-color: #FFDE03 !important;
  padding: 8px 26px;
}

.wrcards-collection .wr-modal .modal-content .modal-footer .share img {
  margin-right: 5px;
}

.wrcards-collection .wr-modal .modal-content .modal-header {
  border-bottom: 0px !important;
}

.wrcards-collection .wr-modal .modal-content .modal-title {
  border-bottom: 0;
}

.wrcards-collection .wr-modal .modal-content .modal-title img {
  width: 70px;
  margin-right: 20px;
}

.wrcards-collection .wr-modal .modal-content .close {
  margin: 0rem 0rem 0rem auto !important;
  opacity: 1 !important;
}

.wr-footer .wr-foot-col1 a {
  color: #335CFF;
}

.wr-footer .wr-foot-col1 h4 {
  color: #000;
}

.wr-footer .wr-foot-col3 p {
  color: #000;
}

.wr-footer .wr-foot-col3 a {
  color: #0336FF;
}

.wr-footer hr {
  border-top: 2px solid #335CFF;
  width: 90%;
}

#loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  background-image: linear-gradient(to bottom, #ffffff, #FFDE03);
  z-index: 9999;
  text-align: center;
}

.lds-roller {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 99999;
}
