@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

$font: 'Roboto', sans-serif;
$white: #fff;
$black: #000;
$blue-1: #0336FF;
$blue-2: #335CFF;
$blue-3: linear-gradient(141.13deg, rgba(92, 125, 255, 0.5) 0%, #2E58FF 76.56%);
$yellow: #FFDE03;
$mobile: 450px;
$tab-pro: 1024px;
$tab: 768px;
@mixin mobile {
    @media screen and (max-width: #{$mobile}) {
        @content;
    }
}

@mixin tab {
    @media screen and (max-width: #{$tab}) {
        @content;
    }
}

@mixin tab-pro {
    @media screen and (max-width: #{$tab-pro}) {
        @content;
    }
}

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: $font;
    color: $white;
    h1,h2,h3,h4,h5,h6{
        font-weight: 700;
    }
    .wr-sec2, .wr-sec3{
        padding: 50px 15px;
    }
}

.wr-nav{
    background-color: $blue-2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);

    .navbar-brand {
        font-weight: 700;
        color: $yellow;
    }
}

.wr-grad-bg{
    background-image: $blue-3;
}

.wr-sec1{
    margin-top: 56px;
    background-image: url('../../imgs/landing/landing_Bg_1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: $blue-1;

    .wr-con1-sec1{
        padding: 190px;

        .wr-sec1-col1, .wr-sec1-col2, .wr-sec1-col2{
            color: $white;
            span{
                color: $yellow;
            }
        }
    
        .wr-sec1-col2{
            p{
                width: 666px;
                margin: auto;
                height: auto;
            }
        }
    
        .wr-sec1-col3{
            button{
                margin-top: 20px;
            }
            .wr-outline-btn{
                border: 2px solid $yellow;
                background-color: none;
                color: $yellow;
                border-radius: 8px;
                padding: 6px 20px;
                font-weight: 600;
                &:hover{
                    background-color: $yellow;
                    color: $black;
                }
            }
        }
    }

    @include mobile(){
        .wr-con1-sec1{
            padding: 0 !important;
        }
    }

    @include tab(){
        .wr-con1-sec1{
            padding: 40px !important;
        }
        .wr-sec1-col2{
            p{
                width: auto !important;
            }
        }
    }

    @include tab-pro(){
        .wr-sec1-col2{
            p{
                width: auto !important;
            }
        }
    }

}

.wr-sec2{
    .wr-sec2-col1{
        .abt-img{
            margin-top: 100px;
            margin-bottom: 100px;
        }
    }
    .wr-sec2-col2-con{
        h2{
            color: $yellow;
        }
        .wr-att{
            color: $yellow;
        }
        .wr-sm-circle{
            content: "";
            position: relative;
            display: inline-block;
            width: 20px;
            height: 20px;
            background-color: $yellow;
            border-radius: 50%;
            box-shadow: 0px 0px 10px #FFFFFF;
            margin-bottom: -5px;
            margin-right: 10px;
        }
    }

    @include mobile(){
        .wr-sec2-col1{
            .abt-img{
                margin-bottom: 70px !important;
                margin-top: 70px !important;
            }
        }
    }
}

.wr-sec3{
    .wr-form{
        background-color: $white;
        box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
        border-radius: 10px;
        width: 450px;
        color: $black;
        height: 530px;
        padding: 30px;
        h2{
            color: $blue-1;
        }
        .wr-btn-secondary{
            background-color: $yellow;
            padding: 6px 20px;
            color: $black;
            border-radius: 8px;
            img{
                margin-left: 10px;
                margin-bottom: 4px;
            }
        }
    }

    @include mobile(){
        .wr-form{
            width: 350px !important;
        }
    }
    @include tab(){
        .wr-form{
            width: 350px !important;
        }
    }
}