@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.wr-nav {
  background-color: #335CFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.wr-nav .navbar-brand {
  font-weight: 700;
  color: #FFDE03;
}

.wr-sec1 {
  background-image: url("../../imgs/landing/landing_Bg_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
}

.wr-sec1 .wr-con1-sec1 {
  padding: 190px;
}

.wr-sec1 .wr-con1-sec1 .wr-sec1-col1, .wr-sec1 .wr-con1-sec1 .wr-sec1-col2, .wr-sec1 .wr-con1-sec1 .wr-sec1-col2 {
  color: #fff;
}

.wr-sec1 .wr-con1-sec1 .wr-sec1-col1 span, .wr-sec1 .wr-con1-sec1 .wr-sec1-col2 span, .wr-sec1 .wr-con1-sec1 .wr-sec1-col2 span {
  color: #FFDE03;
}

.wr-sec1 .wr-con1-sec1 .wr-sec1-col2 p {
  width: 666px;
  margin: auto;
  height: auto;
}

.wr-sec1 .wr-con1-sec1 .wr-sec1-col3 button {
  margin-top: 20px;
}

.wr-sec1 .wr-con1-sec1 .wr-sec1-col3 .wr-outline-btn {
  border: 2px solid #FFDE03;
  background-color: none;
  color: #FFDE03;
  border-radius: 12px;
  padding: 6px 20px;
  font-weight: 600;
}

.wr-sec1 .wr-con1-sec1 .wr-sec1-col3 .wr-outline-btn:hover {
  background-color: #FFDE03;
  color: #000;
}

@media screen and (max-width: 450px) {
  .wr-sec1 .wr-con1-sec1 {
    padding: 0 !important;
  }
}

@media screen and (max-width: 768px) {
  .wr-sec1 .wr-sec1-col2 p {
    width: auto !important;
  }
}
